@import "./base/normalize";
@import "./base/fonts";

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #b4afaf;
}
